# Import Libraries

import pandas as pd
from sklearn.naive_bayes import GaussianNB
from pandas.plotting import scatter_matrix
import seaborn as sns
import matplotlib
matplotlib.use('Agg')
import matplotlib.pyplot as plt
import numpy as np

# Import Data file

df = pd.read_csv("D:\\ML\\heart attack\\heart_attack.csv")

# Data Description & DTypes

In [79]:
df.shape

(8763, 26)

In [127]:
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

In [128]:
df.head()

,Patient ID,Age,Sex,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Family History,Smoking,Obesity,Alcohol Consumption,Exercise Hours Per Week,Diet,Previous Heart Problems,Medication Use,Stress Level,Sedentary Hours Per Day,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Country,Continent,Hemisphere,Heart Attack Risk
0,RDG0550,33,1,200,109.5,48,0,1,1,1,1,7.807690,2,0,1,2,0.138443,184066,30.449815,63,6,7,Argentina,South America,Southern Hemisphere,1.0
1,NMA3851,56,0,262,132.0,46,1,0,1,0,0,17.297628,0,1,0,8,0.369552,211755,34.973685,333,7,8,Nigeria,Africa,Northern Hemisphere,1.0
2,TUI5807,19,0,140,135.0,54,0,1,0,0,1,8.695288,0,1,1,3,8.646334,252203,30.554246,537,2,10,Thailand,Asia,Northern Hemisphere,0.0
3,YYT5016,50,0,163,91.0,53,0,1,1,1,1,10.161587,1,0,1,7,1.107884,121954,35.390265,591,0,9,Spain,Europe,Southern Hemisphere,1.0
4,ZAC5937,89,0,144,131.5,92,1,0,1,0,1,16.436787,1,1,0,1,1.337570,180121,39.575483,145,2,5,Germany,Europe,Northern Hemisphere,1.0

In [6]:
df.describe()

,Age,Cholesterol,Heart Rate,Diabetes,Family History,Smoking,Obesity,Alcohol Consumption,Exercise Hours Per Week,Previous Heart Problems,Medication Use,Stress Level,Sedentary Hours Per Day,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Heart Attack Risk
count,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,7010.000000
mean,53.707977,259.877211,75.021682,0.652288,0.492982,0.896839,0.501426,0.598083,10.014284,0.495835,0.498345,5.469702,5.993690,158263.181901,28.891446,417.677051,3.489672,7.023508,0.357204
std,21.249509,80.863276,20.550948,0.476271,0.499979,0.304186,0.500026,0.490313,5.783745,0.500011,0.500026,2.859622,3.466359,80575.190806,6.319181,223.748137,2.282687,1.988473,0.479210
min,18.000000,120.000000,40.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.002442,0.000000,0.000000,1.000000,0.001263,20062.000000,18.002337,30.000000,0.000000,4.000000,0.000000
25%,35.000000,192.000000,57.000000,0.000000,0.000000,1.000000,0.000000,0.000000,4.981579,0.000000,0.000000,3.000000,2.998794,88310.000000,23.422985,225.500000,2.000000,5.000000,0.000000
50%,54.000000,259.000000,75.000000,1.000000,0.000000,1.000000,1.000000,1.000000,10.069559,0.000000,0.000000,5.000000,5.933622,157866.000000,28.768999,417.000000,3.000000,7.000000,0.000000
75%,72.000000,330.000000,93.000000,1.000000,1.000000,1.000000,1.000000,1.000000,15.050018,1.000000,1.000000,8.000000,9.019124,227749.000000,34.324594,612.000000,5.000000,9.000000,1.000000
max,90.000000,400.000000,110.000000,1.000000,1.000000,1.000000,1.000000,1.000000,19.998709,1.000000,1.000000,10.000000,11.999313,299954.000000,39.997211,800.000000,7.000000,10.000000,1.000000

# Data Cleaning

In [80]:
df.isna().sum()

Patient ID                            0
Age                                   0
Sex                                   0
Cholesterol                           0
Blood Pressure                        0
Heart Rate                            0
Diabetes                              0
Family History                        0
Smoking                               0
Obesity                               0
Alcohol Consumption                   0
Exercise Hours Per Week               0
Diet                                  0
Previous Heart Problems               0
Medication Use                        0
Stress Level                          0
Sedentary Hours Per Day               0
Income                                0
BMI                                   0
Triglycerides                         0
Physical Activity Days Per Week       0
Sleep Hours Per Day                   0
Country                               0
Continent                             0
Hemisphere                            0
Heart Attack Risk                  1753
dtype: int64

In [81]:
df=df.fillna(0)

In [82]:
df.isna().sum()

Patient ID                         0
Age                                0
Sex                                0
Cholesterol                        0
Blood Pressure                     0
Heart Rate                         0
Diabetes                           0
Family History                     0
Smoking                            0
Obesity                            0
Alcohol Consumption                0
Exercise Hours Per Week            0
Diet                               0
Previous Heart Problems            0
Medication Use                     0
Stress Level                       0
Sedentary Hours Per Day            0
Income                             0
BMI                                0
Triglycerides                      0
Physical Activity Days Per Week    0
Sleep Hours Per Day                0
Country                            0
Continent                          0
Hemisphere                         0
Heart Attack Risk                  0
dtype: int64

In [56]:
df.dtypes

Patient ID                          object
Age                                  int64
Sex                                 object
Cholesterol                          int64
Blood Pressure                      object
Heart Rate                           int64
Diabetes                             int64
Family History                       int64
Smoking                              int64
Obesity                              int64
Alcohol Consumption                  int64
Exercise Hours Per Week            float64
Diet                                object
Previous Heart Problems              int64
Medication Use                       int64
Stress Level                         int64
Sedentary Hours Per Day            float64
Income                               int64
BMI                                float64
Triglycerides                        int64
Physical Activity Days Per Week      int64
Sleep Hours Per Day                  int64
Country                             object
Continent                           object
Hemisphere                          object
Heart Attack Risk                    int64
dtype: object

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8763 entries, 0 to 8762
Data columns (total 26 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Patient ID                       8763 non-null   object
 1   Age                              8763 non-null   int64
 2   Sex                              8763 non-null   object
 3   Cholesterol                      8763 non-null   int64
 4   Blood Pressure                   8763 non-null   object
 5   Heart Rate                       8763 non-null   int64
 6   Diabetes                         8763 non-null   int64
 7   Family History                   8763 non-null   int64
 8   Smoking                          8763 non-null   int64
 9   Obesity                          8763 non-null   int64
 10  Alcohol Consumption              8763 non-null   int64
 11  Exercise Hours Per Week          8763 non-null   float64
 12  Diet                             8763 non-null   object
 13  Previous Heart Problems          8763 non-null   int64
 14  Medication Use                   8763 non-null   int64
 15  Stress Level                     8763 non-null   int64
 16  Sedentary Hours Per Day          8763 non-null   float64
 17  Income                           8763 non-null   int64
 18  BMI                              8763 non-null   float64
 19  Triglycerides                    8763 non-null   int64
 20  Physical Activity Days Per Week  8763 non-null   int64
 21  Sleep Hours Per Day              8763 non-null   int64
 22  Country                          8763 non-null   object
 23  Continent                        8763 non-null   object
 24  Hemisphere                       8763 non-null   object
 25  Heart Attack Risk                8763 non-null   float64
dtypes: float64(4), int64(15), object(7)
memory usage: 1.7+ MB

# Data Transformation

In [84]:
from sklearn.preprocessing import LabelEncoder,StandardScaler
le = LabelEncoder()
sc= StandardScaler()

In [85]:
df["Diet"] = le.fit_transform(df["Diet"])
df["Sex"] = le.fit_transform(df["Sex"])

In [86]:
# Split the values by '/' and calculate the average(adding both values and extracting avg)
df["Blood Pressure"] = df["Blood Pressure"].str.split('/').apply(lambda df: (float(df[0]) + float(df[1])) / 2)

In [87]:
df.duplicated().sum()

0

# Dropping Unnecessary columns

In [88]:
x = df.drop(['Patient ID', 'Income', 'Country', 'Continent', 'Hemisphere','Heart Attack Risk'], axis=1)
y = df['Heart Attack Risk']

In [64]:
x.shape

(7010, 20)

In [65]:
y.shape

(7010,)

In [89]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8763 entries, 0 to 8762
Data columns (total 20 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Age                              8763 non-null   int64
 1   Sex                              8763 non-null   int32
 2   Cholesterol                      8763 non-null   int64
 3   Blood Pressure                   8763 non-null   float64
 4   Heart Rate                       8763 non-null   int64
 5   Diabetes                         8763 non-null   int64
 6   Family History                   8763 non-null   int64
 7   Smoking                          8763 non-null   int64
 8   Obesity                          8763 non-null   int64
 9   Alcohol Consumption              8763 non-null   int64
 10  Exercise Hours Per Week          8763 non-null   float64
 11  Diet                             8763 non-null   int32
 12  Previous Heart Problems          8763 non-null   int64
 13  Medication Use                   8763 non-null   int64
 14  Stress Level                     8763 non-null   int64
 15  Sedentary Hours Per Day          8763 non-null   float64
 16  BMI                              8763 non-null   float64
 17  Triglycerides                    8763 non-null   int64
 18  Physical Activity Days Per Week  8763 non-null   int64
 19  Sleep Hours Per Day              8763 non-null   int64
dtypes: float64(4), int32(2), int64(14)
memory usage: 1.3 MB

# Data Spliting

In [90]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [92]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size =0.2, random_state = 42)

In [93]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

In [94]:
x_test.head()

,Age,Sex,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Family History,Smoking,Obesity,Alcohol Consumption,Exercise Hours Per Week,Diet,Previous Heart Problems,Medication Use,Stress Level,Sedentary Hours Per Day,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day
1226,35,1,222,93.5,67,1,1,1,1,1,1.635628,0,1,0,10,11.764951,37.875326,352,6,5
7903,20,1,170,110.0,64,1,1,1,1,0,3.222368,2,0,0,2,2.970027,29.004499,797,7,10
1559,77,1,140,115.5,90,1,0,1,0,1,19.108373,0,1,1,6,5.634762,23.117767,247,1,10
3621,61,0,227,104.0,91,1,1,1,0,1,19.723129,2,1,1,9,1.371171,23.016485,775,0,6
7552,49,1,144,95.5,95,1,1,1,0,1,15.577318,2,0,1,3,7.801029,36.509162,564,6,8

In [28]:
x_train.head()

,Age,Sex,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Family History,Smoking,Obesity,Alcohol Consumption,Exercise Hours Per Week,Diet,Previous Heart Problems,Medication Use,Stress Level,Sedentary Hours Per Day,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day
1630,64,1,288,137.5,103,1,1,1,1,1,6.827872,0,1,1,9,7.209615,32.758156,563,6,5
4063,83,1,145,116.5,42,1,1,1,1,0,8.224914,0,1,1,10,9.672193,34.551615,281,3,4
1881,90,1,163,105.0,95,0,1,1,1,1,18.506692,0,1,0,7,8.716959,28.899990,687,4,4
4689,21,0,123,115.5,57,1,0,0,1,1,7.914100,0,0,0,4,8.104431,26.109397,184,4,6
1612,36,1,338,127.5,48,0,0,1,1,0,10.525857,1,1,0,7,6.148211,36.533115,135,6,8

In [29]:
y_train.head()

1630    0.0
4063    0.0
1881    1.0
4689    1.0
1612    1.0
Name: Heart Attack Risk, dtype: float64

In [123]:
x_train.dtypes

Age                                  int64
Sex                                  int32
Cholesterol                          int64
Blood Pressure                     float64
Heart Rate                           int64
Diabetes                             int64
Family History                       int64
Smoking                              int64
Obesity                              int64
Alcohol Consumption                  int64
Exercise Hours Per Week            float64
Diet                                 int32
Previous Heart Problems              int64
Medication Use                       int64
Stress Level                         int64
Sedentary Hours Per Day            float64
BMI                                float64
Triglycerides                        int64
Physical Activity Days Per Week      int64
Sleep Hours Per Day                  int64
dtype: object

# 1 DECISION TREE CLASSIFIER

In [124]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
dt = DecisionTreeClassifier(random_state=42)
# Assuming you have preprocessed data and split it into training and validation sets

dt.fit(x_train, y_train)  # Train the KNN model

# Make predictions on the validation set
dt_predictions = dt.predict(x_test)

# Calculate Accuracy
accuracy = accuracy_score(y_test, dt_predictions)

print("Decision Tree Accuracy:", accuracy*100)

Decision Tree Accuracy: 58.756417569880206

# 2 Decision Tree Regressor

In [96]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import accuracy_score
clf = DecisionTreeRegressor()
# Assuming you have preprocessed data and split it into training and validation sets

clf.fit(x_train, y_train)  # Train the KNN model

# Make predictions on the validation set
clf_predictions = clf.predict(x_test)

# Calculate Accuracy
clf_accuracy = accuracy_score(y_test, clf_predictions)

print("Decision Tree Accuracy:", accuracy*100)

Decision Tree Accuracy: 58.756417569880206

# 3 Naive_Bayes (GaussianNB)

In [97]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score, classification_report

# Assuming you have preprocessed data and split it into training and testing sets
gnb = GaussianNB()
gnb.fit(x_train, y_train)  # Train the Gaussian Naive Bayes model

# Make predictions on the test set
gnb_predictions = gnb.predict(x_test)

# Calculate Accuracy
accuracy = accuracy_score(y_test, gnb_predictions)
print("Naive Bayes Accuracy:", accuracy)

# Display a classification report for more detailed evaluation
print(classification_report(y_test, gnb_predictions))

Naive Bayes Accuracy: 0.710781517398745
              precision    recall  f1-score   support

         0.0       0.71      1.00      0.83      1246
         1.0       0.00      0.00      0.00       507

    accuracy                           0.71      1753
   macro avg       0.36      0.50      0.42      1753
weighted avg       0.51      0.71      0.59      1753

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\ProgramData\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\ProgramData\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [100]:
print("accuracy is ",accuracy*100,"%")

accuracy is  71.0781517398745 %

# 4 LOGISTIC REGRESSION

In [101]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()

In [102]:
lr.fit(x_train,y_train)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [103]:
pred=lr.predict(x_test)

In [104]:
pred[0:5]

array([0., 0., 0., 0., 0.])

In [42]:
y_test[0:5]

6850    1.0
6723    1.0
245     0.0
1880    0.0
6798    0.0
Name: Heart Attack Risk, dtype: float64

In [105]:
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score,auc

In [106]:
print(confusion_matrix(y_test,pred))

[[1246    0]
 [ 507    0]]

In [107]:
y_test.shape

(1753,)

In [116]:
lr.score(x_train,y_train) #Training accuracy

0.7151212553495007

In [119]:
print(accuracy_score(pred,y_test)*100) # testing accuracy

71.0781517398745

In [120]:
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

         0.0       0.71      1.00      0.83      1246
         1.0       0.00      0.00      0.00       507

    accuracy                           0.71      1753
   macro avg       0.36      0.50      0.42      1753
weighted avg       0.51      0.71      0.59      1753

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\ProgramData\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\ProgramData\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

# 5 Random Forest Algorithm

In [126]:
from sklearn.ensemble import RandomForestClassifier

# Assuming you have preprocessed data and split it into training and validation sets
random_forest = RandomForestClassifier(n_estimators=100, random_state=42)  # You can adjust the number of trees (n_estimators)

# Train the Random Forest model
random_forest.fit(x_train, y_train)

# Make predictions on the test set
rf_predictions = random_forest.predict(x_test)
accuracy = accuracy_score(y_test, rf_predictions)

# Print the Accuracy
print("Random Forest Accuracy:", accuracy * 100)

Random Forest Accuracy: 71.02110667427267